* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px;
  height:250px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
h3{
    
    margin-top: 20px;
    margin-bottom: 20px;
}
.form input {
  flex: 1;
  padding: 8px;
}

.form button {
  padding: 8px 12px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.form button:hover {
  background: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  
}

table th {
  background: #f2f2f2;
 
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 3px;
}
